<!DOCTYPE html>
<html lang="en">

<head>
	<!-- BOOTSTRAP STUFF -->
	<meta charset="utf-8">
	<meta name="description"
		content="A logic circuit simulator made with p5.js library, useful for educational use. It can be used to simulate combinational and sequential circuits.">
	<meta name="author" content="drendog">
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{url_for('static',filename='css/simstyle.css')}}">
	<script src="{{url_for('static',filename='js/jquery-3.3.1.slim.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/popper.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
	<!-- p5 stuff -->
	<script src="{{url_for('static',filename='js/p5.min.js')}}"></script>
	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<!--     <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/SomeFunction', { },
    function(data) { }); return false; }); }); </script> -->
	<script type="text/javascript">
	  $(function() {
	    $("#mybutton").click(function () {
	      window.location.href = "/SomeFunction";
	    });
	  });
	</script>

	<!-- Simulator stuff -->
	<script type="module" src="{{url_for('static',filename='js/simulator.js')}}"></script>
	<title>ATPG Simulator</title>
	<style>
        /* Add your table styles here */
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }

        /* Style to make the div invisible */
        #result {
            display: none;
        }
    </style>
	
</head>

<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<a class="navbar-brand text-center" href="#">
			ATPG
			<br>Simulator
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
			aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<!-- TODO
              <div class="navGroupTools"><button type="button" class="btn btn-outline-light" disabled><i class="fa fa-arrow-circle-left"></i>
              	Undo
              </button><button type="button" class="btn btn-outline-light" disabled><i class="fa fa-arrow-circle-right"></i>
              	Redo
              </button></div>-->
					<div class="navGroupTools">
						<button type="button" class="btn btn-outline-light Edit active" tool="Edit"
							onclick="activeTool(this)">
							<i class="fa fa-edit"></i>
							Edit
						</button>
						<button type="button" class="btn btn-outline-light" tool="Delete" onclick="activeTool(this)">
              				<i class=" fa fa-trash-o"></i>
							Delete
						</button>
					</div>
					<div class="navGroupTools">
						<label type="button" class="btn btn-outline-light" style="margin:0px">
							<input id="projectFile" type="file"></input>
							<i class="fa fa-upload"></i>
							Load
						</label>
						<a download="LogicCircuit00" href="#" id="saveProjectFile">
							<button type="button" class="btn btn-outline-light">
								<i class="fa fa-save"></i>
								Save
							</button>
						</a>
					</div>
					<div class="githubSection">
						<input type = "button" id = "mybutton" value = "Execute" />
					</div>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- Begin page content -->

	<div class="container-fluid pt-3">
		<div class="row">
			<div class="tools col-0 ml-3 pr-0 overflow-scroll" style="overflow-y: scroll;height: calc(100vh - 5rem);">
				<div class="list-group float-right" style="min-width: 50px; max-width: 60px">
					<button type="button" tool="LogicInput" title="Logic Input" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/LogicInput.svg')}}" class="ml-2" width="32">
					</button>
					<button type="button" tool="LogicOutput" title="Logic Output" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/LogicOutput.svg')}}" class="ml-2" width="32">
					</button>
					<button type="button" tool="NOT" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/NOT.svg')}}" width="50">
					</button>
					<button type="button" tool="AND" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/AND.svg')}}" width="50">
					</button>
					<button type="button" tool="NAND" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/NAND.svg')}}" width="50">
					</button>
					<button type="button" tool="OR" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/OR.svg')}}" width="50">
					</button>
					<button type="button" tool="NOR" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/NOR.svg')}}" width="50">
					</button>
					<button type="button" tool="XOR" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/XOR.svg')}}" width="50">
					</button>
					 <button type="button" tool="sa0" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/sa0.svg')}}" width="50">
					</button>
					<button type="button" tool="sa1" isGate="true" onclick="activeTool(this)"
						class="list-group-item list-group-item-action pl-1">
						<img src="{{url_for('static',filename='img/sa1.svg')}}" width="50">
					</button>
					
				</div>
			</div>
			<div class="col-10 pl-0">
				<!-- <button id="showButton">Click to Show Something</button>
				<div id="hiddenElement">
					Content that will appear
					<p>{{ result }}</p>
					
				</div> -->
				<!-- Simulator Canvas -->
				<div id="canvas-sim"></div>
				<!--<div id="resultSection" style="display: none;">
					<p id="resultContent">
						<div id="result">
							{{ result }}
						</div>
					
						<h2>Displayed in Table</h2>
						<table id="resultTable">
							
							<tbody>
								
							</tbody>
						</table>
					
						<script>
							document.addEventListener('DOMContentLoaded', function() {
								var resultDiv = document.getElementById('result');
								var resultContent = resultDiv.textContent;
								var lines = resultContent.split('\n');
					
								var table = document.getElementById('resultTable');
								var tbody = table.querySelector('tbody');
					
								lines.forEach(function(line) {
									var row = document.createElement('tr');
									var cell = document.createElement('td');
									cell.textContent = line;
									row.appendChild(cell);
									tbody.appendChild(row);
								});
							});
						</script>
					</p>
				</div>-->
			</div>
		</div>
	</div>
	<!-- <script>
		document.addEventListener('DOMContentLoaded', function() {
			var canvasSim = document.getElementById('canvas-sim');
			var resultSection = document.getElementById('resultSection');
			var resultContent = document.getElementById('resultContent');
			var myButton = document.getElementById('mybutton');
	
			myButton.addEventListener('click', function() {
				// Hide canvas and show result section
				canvasSim.style.display = 'none';
				resultSection.style.display = 'block';
	
				// Call the server-side function '/SomeFunction'
				// Update 'resultContent' with the received result
				// $.getJSON('/SomeFunction', {}, function(data) {
				// 	if (data.result) {
				// 		resultContent.innerText = data.result;
				// 	}
				// });
			});
		});
	</script> -->
<script>
	function ExecPythonCommand(pythonCommand){
    var request = new XMLHttpRequest()
    request.open("GET", "/" + pythonCommand, true)
    request.send()
}
</script>
  
</body>


</html>
